.profileContainer {
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    width: auto;

}

.profileImage {
    margin-top: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: rgb(47, 47, 55);
}

.Name {
    font-weight: bold;
    font-size: 24px;

}

.Tag{
    color: grey;
    font-size: 18px;
}

.Location{
    color: grey;
    font-size: 18px;
}

.profileStats {
    display: flex;
    background-color: rgb(174, 174, 174);
    list-style-type: none;
    justify-content: space-between;
    border-top: 2px solid rgb(35, 35, 35);
    border-bottom: 2px solid rgb(35, 35, 35);
    
}

.List{
    border-right: 2px solid rgb(35, 35, 35);
}

.ListStats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}


.ListStatsItems{
display: flex;
flex-direction: column;
width: calc((100% - 72px) / 3);
margin-left: 26px;
margin-bottom: 15px;
font-size: 20px;
color: black;
font-weight: 800;
}
